%h1= @project.name

%table.table.table-sm.table-striped
  %thead.thead-inverse
    %tr
      %th{scope: :row}
      %th{scope: :row} Author
      %th{scope: :row} Added
      %th{scope: :row} Payment
      %th{scope: :row} Votes
      %th{scope: :row} Post
    %tbody
      - @posts.each do |post|
        = render partial: 'post', object: post, as: :post
