%h1= @project.name

%table.table
  %thead.thead-inverse
    %tr
      %th Author
      %th Added
      %th Payment
      %th Post
    - @posts.each do |post|
      - cache ['public-post', params, post.cache_key] do
        = render partial: 'post', object: post, as: :post